include setup.py
include PAL2/AnisCoefficientsV2.py
include PAL2/AnisCoefficients_pix.py
include PAL2/PAL2_run.py
include PAL2/PALInferencePTMCMC.py
include PAL2/PALInferenceRJMCMC.py
include PAL2/PALdatafile.py
include PAL2/PALmodels.py
include PAL2/PALpsr.py
include PAL2/PALutils.py
include PAL2/__init__.py
include PAL2/bayesutils.py
include PAL2/makeH5file.py
include PAL2/nompi4py.py
include PAL2/plot.py
include PAL2/rankreduced.py
include PAL2/pulsarDistances.txt
include requirements.txt
